.section-title {
  display: block;
  margin-bottom: 50px;
}
.section_features {
  padding-bottom: 47px;
  background-color: var(--hero-title-color);
}
.features__items {
  width: 270px;
}

.features-list {
  display: flex;
  gap: 30px;

  & .features-text {
    font-size: 14px;
    line-height: 1.7;
  }
}
.features__subtitle {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section p {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.fetures__link {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
